.movie-preview {
    
    position: relative;
    border: 1px solid transparent;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    min-width: 392px;
    height: fit-content;
    padding: 8px;
    background-color: #faefef;
    border-radius: 8px;
    align-items: center;
    transition: background-color 0.2s ease, border 0.3s ease-in-out;
    
}

.movie-preview:hover {
    background-color: #fce6e6;
    border: 1px solid rgb(248, 129, 129);
    transition: background-color 0.2s ease, border 0.3s ease;
    cursor: pointer;
}

.movie-preview article {
    padding-top: 8px;
    height: 100px;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-details{
    display: flex;
    align-items: center;
}

.movie-details h6 {
    font-size: 1.02rem;
    margin-right: 8px;
}

.preview-img {
    width: 70px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.saveLoad {
    display: flex;
    position: absolute;
    top: 8px;
    right: 0;
    padding: 0 12px;
    width: 67px;
    justify-content: space-between;
    

}

