.NavBarIcon {
    fill: rgb(167, 108, 108);
    padding: 25px;
    transition: 0.3s;
    
}

.NavBarIcon:hover {
    fill: var(--element-color-red);
    cursor: pointer;
}

.NavBarIcon-active {
    fill: var(--element-color-red);
}

/* NavBarIcon + NavbarText */

.NavBarElement {
    display: flex;
    align-items: center;
}

.NavBarText {
    margin-left: 9px;
    text-decoration: none;
}

/* Download Button on Movie Previews */

.PreviewIcon {
    fill: rgb(122, 149, 131) ;
    transition: 0.2s;
}

.PreviewIcon:hover {
   fill: rgb(0, 224, 75);
}

/* Landingpage Ellipse */
.ellipse-style {
    filter: blur(3rem); 
    mask: url(#ellipse-mask);
    fill: #CAF6E7;
  }
/* Media querays Desktop von Ellipse-style */
  @media (min-width: 768px) {
    .ellipse-style {
      display: none;
    }
  }