.dl-text, .home-text, .favorite-text, .profile-text {
    color: var(--element-color-red);
    padding-left: 1.5rem;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.navbar {
    display: flex;
    width: 90%;
    max-width: 440px ;
    height: 72%;
    max-height: 60px ;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.2s ease, padding 0.3s ease;
    background-color: #f6e5e5;
    justify-self: center;
}

.navbar-hidden {
    display: flex;
    max-width: 497px ;
    width: 50%;
    opacity: 0;
    height: 0%;
    max-height: 60px ;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.2s ease, padding 0.3s ease;
    background-color: #f6e5e5;
}

.home-container, .download-container, .favorite-container, .profile-container {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color-red);
}
.navbar-hidden a {
    text-decoration: none;
    color: var(--text-color-red);
}

