.genre-btn {
    margin: 10px 5px;
    min-width: 65px;
    padding: 4px;
    font-size: 1.3rem;
    background-color: var(--element-color-lightgrey);
    border: 1px solid rgb(254, 217, 217) ;
    border-radius: 5px;
    transition: 0.2s;
    color: rgb(150, 150, 150) ;
}
.genre-btn-active {
    margin: 10px 5px;
    min-width: 65px;
    padding: 4px;
    font-size: 1.3rem;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(254, 217, 217) ;
    border-radius: 5px;
    transition: 0.2s;
    color: rgb(247, 247, 247) ;
}

.genre-btn:hover {
    background-color: rgb(255, 245, 245);
    color: rgb(58, 58, 58);
}

.btn-arrow {
    border: none;
    background-color: transparent;
    color: red;
}