@font-face {
    font-family: "Poppins-Bold";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  }

.div {
    background-color: --element-color-red #FC2121;
}
.mov {
    display: flex;
    align-items: center;
    justify-content: center;
    color: --element-color-white #FFFFFF;
    height: 100vh;
}

