* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}


.LandingDiv {
    position: absolute;
    flex-direction: column;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: white;
    bottom: 0;
    padding: 0 4rem 0 4rem;
    border-radius: 20px 20px 0 0;

}

.landingPage {
    width: 100vw;
    height: 100vh;
    background-color: red;
}



.LandingButton {
    border-radius: 10px;
    background-color: red;
    border: none;
    padding: 15px 25px;
    margin: 15px 25px;
    color: white;
    cursor: pointer;
    
}

.LandingImage1 {
    position:absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -70%);
}

.LandingImage2 {
    transform: translate(-50%, -60%);
    position:absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 60%;
}

.BackGround {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
    background: radial-gradient(closest-side at 60% 55%, rgba(255, 255, 255));
}

.ellipsesvg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60vh;
}





