* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

:root {
  --main-padding: 28px;

  --test-color: rgb(255, 164, 164);

  --text-color-black: black;
  --text-color-red: #FC2121;

  --element-color-red: #FC2121;
  
  /* Sort Butttons */
  --element-color-lightred: #FFF1F1;

  /* Navbar Elements */
  --element-color-bluegrey: #97AABD;
   /*SearchSort Component  */
  --element-color-grey: #A8A8A8;
  /* SearchBar + Buttons */
  --element-color-lightgrey: #FBF8FF;
  /* Trendind Movies Display - Slider Dots */
  --element-color-darkgrey: #676767;

  --element-color-white: #FFFFFF;
  --element-color-white46: #ffffff81;

  /* Download Indicator */
  --element-color-green: #06DA42;

  /* Fav Star */
  --element-color-yellow: #FFD500;

  /* Landing Page Circle Elements */
  --circle-color-green: #CAF6E7;
  --circle-color-pink: #F6B5E9;
  --circle-color-yellowgreen: #E9F6CA; 

  font-size: 62.5%;
  font-family: "Poppins-Regular", Arial;
}

/* Welcome Message */
h1 {
  font-family: "Poppins-Bold";
  font-size: 3.6rem;
}

/* Movie Details - Movie Title // Landing Page - Title */
h2 {
  font-family: "Poppins-Bold";
  font-size: 2.8rem;
}

/* Trendind Movie Section/Component Title // Movie Details Overview Title */
h3 {
  font-family: "Poppins-Bold";
  font-size: 2rem;
}

/* SearchPage Movie Titles */
h4 {
  font-family: "Poppins-Bold";
  font-size: 1.8rem;
}

/* Movie Details Smaller Titles // NavBar Titles */
h5 {
  font-family: "Poppins-Bold";
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
}

button {
  font-family: "Poppins-Medium";
  font-size: 1.6rem;
}
