.trailerGoBack{
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: none;
    border: none;
}

.videoContainer{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* # rotated btn for mobile version */
/* .trailerGoBack{
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transform: rotate(90deg);
} */